/*Syles*/
body{
    background-color: #242424;
    text-align: left;
    color: white;
}

/*Header*/
.header{
    height: 10ex;
    padding-left: 1vw;
}

/* Page Flex conatiner */
.page-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    max-width: 100vw;

}

/* Sidebar*/
.sidebar{
    flex-grow: 1;
    flex-direction: column;
    min-width: 25ex;
    max-width: 40ex;
    text-align: left;
}

/*Main Flex Conatiner */
.flex-content{
    display: flex;
    flex-flow: row wrap;
    flex-grow: 2;
    justify-content: center;
    align-items:top;
    height: 100%;
    overflow-y:scroll;
}

/* Flex Objects */
.flexible{
    background: rgb(36,31,126);
    background: linear-gradient(38deg, rgba(36,31,126,1) 0%, rgba(23,9,121,1) 37%, rgba(0,80,255,1) 100%); 
    min-width: 18vw;
    min-height: 18vw;
    margin: 1vw;
    padding: 1vw;
    border-radius: 12px;
    initial-letter: 3;
}